### Dart template
# Don’t commit the following directories created by pub.
.buildlog
.dart_tool/
.pub/
build/
doc/
packages
.packages

# Include when developing application packages.
pubspec.lock

# IDE
.project
.settings
.idea
.c9

# Used internally for test files.
tmp/